.search-wrapper {
  border-radius: 20px;
  background-color: var(--search-area-bg);
  padding-right: 12px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 350px;
  color: var(--light-font);
  box-shadow: 0 2px 6px 0 rgba(136, 148, 171, 0.2),
    0 24px 20px -24px rgba(71, 82, 107, 0.1);
  overflow: hidden;
}

.search-wrapper:focus-within {
  box-shadow: 0 0 0 3px lightblue;
}

.search-input {
  border: none;
  flex: 1;
  outline: none;
  height: 100%;
  padding: 0 20px;
  font-size: 16px;
  background-color: var(--search-area-bg);
  color: var(--main-color);
  box-shadow: none;
}

.search-input:focus {
  box-shadow: none;
}

.search-input::placeholder {
  color: var(--main-color);
  opacity: 0.6;
}

.search-wrapper svg {
  margin-left: 12px;
  fill: none;
  stroke-width: 2;
  stroke: var(--main-color);
}

.search-wrapper svg:hover {
  background-color: lightgray;
  border-radius: 50%;
}

.search-wrapper svg:hover path {
  stroke: white;
}

.navbar-nav {
  padding-right: 15px; /* adjust the value as per your requirement */
}
.nav-link {
  border-radius: 0%;
  transition: all 0.3s ease;
}


