.club_card {
  width: 400px;
  border: none;
  border-radius: 10px;

  background-color: #fff;
}
.club_card:hover{
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.stats {
  background: #f2f5f8 !important;

  color: #000 !important;
}
.articles {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.followers {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.rating {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
}
