.card-title {
  color: #000;
}

.card-text {
  color: #888;
}

.card-text:hover {
  color: #000;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.card:hover {
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
}
